/*
 *  Custom CSS file for themeing the Paypal Social Injustice Index App
 */

* {
    font-family: "CircularStd";
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
}

.App {
    background-color: #000000;
    border: 1px solid white;
    display: inline-block;
}

.navbar {
    background-color: #0079c1;
}

.app_name {
    margin-left: 20px;
}

.link {
    margin-right: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.link:hover {
    border-bottom: 2px solid #eee;
    color: #eee;
}

.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.scaffolded {
    /* position: absolute; */
    margin: 50px;
    top: 50%;
    color: #fff;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    font-weight: 100;
    text-align: center;
}

.scaffolded p {
    /* width: 550px; */
    margin-top: 30px;
    color: #fff;
}

#map_svg {
    width: 960px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

#us_state_dropdown {
    padding: 30px;
    border: none;
    outline: none;
}

.dropdown_container {
    width: 80%;
}

.data {
    margin-top: 10px;
}

.national_index {
    color: #fff;
    font-size: 18pt;
    padding: 30px;
}

.metric {
    display: inline-block;
    padding: 30px;
    min-width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    .metric_value {
        color: #fff;
        font-size: 30pt;
    }
    .metric_name {
        color: #ddd;
        font-size: 16pt;
    }
}

#tooltip {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    padding: 10px;
}

.dropdown {
    display: inline-block;
    padding: 20px;
    width: 400px;
}